<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to Berlin <%= title %></p>
    <div class="card" style="width: 18rem;">
      <img src="images/berlin1.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Berlin City Center</h5>
        <p class="card-text">Views of Berlin</p>
        <a href="#" class="btn btn-primary">Go somewhere</a>
      </div>
    </div>
  </body>
</html>
