<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to Paris <%= title %></p>
    <h2>Explore Paris with US!</h2>
    
    <div class="container">
      <div class="row">
        <div class="col-sm">
          <div class="card" style="width: 18rem;">
            <img src="/images/parislouver.jpg" class="card-img-top" alt="..." width="200">
            <div class="card-body">
              <p class="card-text">Effiel Tower</p>
            </div>
          </div>
        </div>
        <div class="col-sm">
          <div class="card" style="width: 18rem;">
            <img src="/images/parisorsay.jpg" class="card-img-top" alt="..." width="200">
            <div class="card-body">
              <p class="card-text">Musee D'Orsay</p>
            </div>
          </div>
        </div>
        <div class="col-sm">
          <div class="card" style="width: 18rem;">
            <img src="/images/parisnotre.jpg" class="card-img-top" alt="..." width="200">
            <div class="card-body">
              <p class="card-text">Notre Dame</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
